/*
** @date 20130407 Leo Eibler <dokuwiki@sprossenwanne.at> \n
**                add todouser for user assignment css class \n
*
span.todohlght:hover{background:#DDD; cursor:default; }
span.todouser { font-size: x-small; cursor:default; font-style: italic; padding-left: 3px; padding-right: 3px; margin-right: 4px; }
span.tododates { font-size: x-small; padding-left: 3px; padding-right: 3px; margin-right: 4px;  }
span.todostarted { background:#EEA; font-weight: bold; }
span.tododue { background:#EAA; font-weight: bold; }
/* */
span.todohlght:hover{background:#DDD; cursor:default; }
span.todouser { font-size: x-small; cursor:default; font-style: italic; padding-left: 3px; padding-right: 3px; margin-right: 4px; }
span.tododates { font-size: x-small; padding-left: 3px; padding-right: 3px; margin-right: 4px;  }
span.todostarted {  }
span.tododue {  }
span.todooverdue { background:#EAA; }
span.todopri { background:#EAA; color:white; font-weight:bold; padding:0 2px; margin-right:2px; }
span.todolabel { background:yellowgreen; color:yellow; font-weight:normal; padding:1px 4px; margin-right:2px; font-size:x-small; }
span.todoredo { color:#EAA; font-weight:bold; margin-right:0px; }
span.todoat { color:grey; margin-right:2px; font-size:x-small; font-stretch: ultra-condensed; }
span.tododate { color:grey; margin-right:2px; font-size:x-small; }

.todocheckbox { background:red; border:1px solid red; }
.todoaskoredo { background:red; border:1px solid red; }

/* */
